<mat-sidenav-container class="example-container">
  <!-- Menú lateral -->
  <mat-sidenav #sidenav mode="side" [(opened)]="isOpened" class="sidenav" fixedInViewport>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active-link" (click)="sidenav.close()">Principal</a>
      <a mat-list-item routerLink="/tres-raya" routerLinkActive="active-link" (click)="sidenav.close()">Tres en raya</a>
      <a mat-list-item routerLink="/calc" routerLinkActive="active-link" (click)="sidenav.close()">Calculadora</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido de la página -->
  <mat-sidenav-content>
    <!-- Barra superior (Toolbar) -->
    <mat-toolbar color="primary" class="app-toolbar z-index-toolbar">
      <!-- Botón para colapsar el menú (ubicado a la izquierda) -->
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- El contenido dinámico que cambia con las rutas -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
