<mat-sidenav-container class="example-container">
  <!-- Menú lateral -->
  <mat-sidenav #sidenav mode="side" opened>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Principal</a>
      <a mat-list-item routerLink="/tres-raya" routerLinkActive="active">Tres en raya</a>
      <a mat-list-item routerLink="/calc" routerLinkActive="active">Calculadora</a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Contenido de la derecha -->
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>