.popupDiv {
  text-align: center;
  padding: 8px;
}

mat-dialog-actions {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

mat-dialog-content {
    padding-bottom: 2px;
}
