.example-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  mat-toolbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    width: 100%;
  }
  
  .modules-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: calc(100% - 64px);
  }
  
  .module-card {
    width: 48%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  
  .module-visible {
    display: block;
  }
  
  .mat-card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  