<div class="resultadoDiv">
  <div>Marcador</div>
  <div class="signoO">O</div>
  <div class="marcador">{{ marcadorO }}</div>
  <div class="marcador">-</div>
  <div class="marcador">{{ marcadorX }}</div>
  <div class="signoX">X</div>
</div>

<div class="tableroDiv">
  <button mat-raised-button (click)="presion(0, 0)" class="casilla">
    {{ posiciones[0][0] }}
  </button>
  <button mat-raised-button (click)="presion(0, 1)" class="casilla">
    {{ posiciones[0][1] }}
  </button>
  <button mat-raised-button (click)="presion(0, 2)" class="casilla">
    {{ posiciones[0][2] }}
  </button>
  <br />
  <button mat-raised-button (click)="presion(1, 0)" class="casilla">
    {{ posiciones[1][0] }}
  </button>
  <button mat-raised-button (click)="presion(1, 1)" class="casilla">
    {{ posiciones[1][1] }}
  </button>
  <button mat-raised-button (click)="presion(1, 2)" class="casilla">
    {{ posiciones[1][2] }}
  </button>
  <br />
  <button mat-raised-button (click)="presion(2, 0)" class="casilla">
    {{ posiciones[2][0] }}
  </button>
  <button mat-raised-button (click)="presion(2, 1)" class="casilla">
    {{ posiciones[2][1] }}
  </button>
  <button mat-raised-button (click)="presion(2, 2)" class="casilla">
    {{ posiciones[2][2] }}
  </button>
</div>
<div class="reiniciarDiv">
  <button mat-button color="primary" (click)="reiniciar()">Reiniciar</button>
</div>
