.calculadora {
  width: 40%;
  margin: 0 auto;
}

.pantalla {
  margin-bottom: 40%;
  margin-bottom: 10px;
}

.display {
  width: 100%;
  text-align: center;
  font-size: 2cm;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%;
  
}

button {
  width: 100%;
  font-size: 0.75cm;
}
