<div class="calculadora">
    <div class="pantalla">
      <mat-form-field appearance="fill" class="display">
        <input matInput type="text" [value]="currentInput"/>
      </mat-form-field>
    </div>
  
    <div class="buttons">
      <button mat-raised-button (click)="addNumber('1')">1</button>
      <button mat-raised-button (click)="addNumber('2')">2</button>
      <button mat-raised-button (click)="addNumber('3')">3</button>
      <button mat-raised-button (click)="addOperator('+')">+</button>
  
      <button mat-raised-button (click)="addNumber('4')">4</button>
      <button mat-raised-button (click)="addNumber('5')">5</button>
      <button mat-raised-button (click)="addNumber('6')">6</button>
      <button mat-raised-button (click)="addOperator('-')">-</button>
  
      <button mat-raised-button (click)="addNumber('7')">7</button>
      <button mat-raised-button (click)="addNumber('8')">8</button>
      <button mat-raised-button (click)="addNumber('9')">9</button>
      <button mat-raised-button (click)="addOperator('*')">*</button>
  
      <button mat-raised-button (click)="addNumber('0')">0</button>
      <button mat-raised-button (click)="addDecimal()">.</button>
      <button mat-raised-button (click)="calculateResult()">=</button>
      <button mat-raised-button (click)="addOperator('/')">/</button>
  
      <button mat-raised-button color="warn" (click)="clear()">C</button>
    </div>
  </div>
  